@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&family=Poppins:wght@500&family=Roboto:wght@300;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&family=Poppins:wght@300;500&family=Roboto:wght@300;500;700&display=swap');
<<<<<<< HEAD
=======

>>>>>>> 37ea42bbb463fd5236aca0061bff99781fdc9d7c
* {
    margin: 0;
    padding: 0;
}

body {
    /* font-family: 'Alegreya Sans', sans-serif;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif; */
<<<<<<< HEAD
    font-family: 'Plus Jakarta Sans', sans-serif ;
    height: 1000px;
}

.menu {
    position: sticky;
    top: 0;
    background-color: white;
    font-family: 'Alegreya Sans', sans-serif;
font-family: 'Plus Jakarta Sans', sans-serif;
/* font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif; */
=======
    font-family: 'Plus Jakarta Sans', sans-serif;
    height: 1000px;
>>>>>>> 37ea42bbb463fd5236aca0061bff99781fdc9d7c
}

.menu {
    position: fixed;
    width: 100%;
    top: 0;
    background-color: white !important;
    padding: 0 4rem;
    height: 90px;
    overflow: hidden;
    border-style: solid;
    border-width: 0px 0px 7px 0px;
    border-color: #ECEDF2;

    padding: 5px 0px 5px 0px;

}

.logo {
    display: inline-block;
    margin-top: 26px;
    padding: 0 4rem;
<<<<<<< HEAD
    padding: 0 3.5rem;
=======
>>>>>>> 37ea42bbb463fd5236aca0061bff99781fdc9d7c
}

.logo img {
    float: left;
}

.navbar {
<<<<<<< HEAD
    
    float: right;
    margin-right: 45px;
    font-weight: 400;
}



.navbar-list {
    display: inline-block;
    margin-top: 35px;
    padding: 0 18px;

}
.navbar-list:hover{
    color:  #2B7DDD;;
}

.navbar-btn {
    margin-right: 23px;
    margin-left: 90px;
    padding: 17px 49px;
    border-radius: 10px;
    cursor: pointer;
    border: none;
    font-size: 16px;
    background-color: #2B7DDD;
    font-weight: bold;

}

.navbar-btn a {
    text-decoration: none;
    color: white;
}
.navbar-btn:hover{
    background-color: blue;
}

.main {
    
    margin-top: 80px;
    padding: 0 7rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}
.main-heading{
    width: 35%;
    padding: 0 35px;
}
.main-h1{
    font-size: 55px;
    font-weight: 600;
}

.main-span {
    color: blue;
}
.main-para{
    margin-top: 32px;
    color:  #4F547B;
    line-height: 1.8;
    font-size: 20px;
}
.main-btn{
    color: #2B7DDD;
    margin-top: 30px;
    padding: 16px 32px;
    border-radius: 10px;
    border: 1px solid #2B7DDD;
    font-size: 17px;
    background-color: white;
    cursor: pointer;
}
.main-btn:hover{
    background-color: #2B7DDD;
    color:white;
}
.main-img{
    margin-right: 90px;
    
}

#btn {
    position: fixed;
    bottom: 10px;
    right: 0rem;
    color: white;
    background-color: #25B43B;
    padding: 9px 15px;
    border: none;
    padding-bottom: 20px;
    border-radius: 10px 0px 0px 10px;
    font-size: 20px;
    cursor: pointer;
}

/* #btn img{
    
} */

#btn a {
    text-decoration: none;
    color: white;
}
@media screen and (max-width : 500px){
    body{
        font-size: 16px;
    }
=======

>>>>>>> 37ea42bbb463fd5236aca0061bff99781fdc9d7c
    float: right;
    margin-right: 45px;
    font-weight: 400;
}



.navbar-list {
    display: inline-block;
    margin-top: 35px;
    padding: 0 18px;

}

.navbar-list:hover {
    color: #2B7DDD;
    ;
}

.navbar-btn {
    margin-right: 23px;
    margin-left: 90px;
    padding: 17px 49px;
    border-radius: 10px;
    cursor: pointer;
    border: none;
    font-size: 16px;
    background-color: #2B7DDD;
    font-weight: bold;

}
<<<<<<< HEAD
=======

.navbar-btn a {
    text-decoration: none;
    color: white;
}

.navbar-btn:hover {
    background-color: blue;
}

.main {

    margin-top: 10%;
    padding: 0 7rem 10rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.main-heading {
    width: 35%;
    padding: 0 35px;
}

.main-h1 {
    font-size: 58px;
    font-weight: 500;
    font-size: 58px;
    font-weight: 700;
    line-height: 66px;
}

.main-span {
    color: #2b7ddd;
    font-size: 58px;
    font-weight: 700;
    line-height: 66px;
}

.main-para {
    margin-top: 32px;
    color: #4F547B;
    line-height: 1.8;
    font-size: 17px;

}

.main-btn {
    color: #2B7DDD;
    margin-top: 30px;
    padding: 16px 32px;
    border-radius: 10px;
    border: 1px solid #2B7DDD;
    font-size: 17px;
    background-color: white;
}

.main-img {
    margin-right: 90px;

}

#btn {
    position: fixed;
    bottom: 10px;
    right: 0rem;
    color: white;
    background-color: #25B43B;
    padding: 9px 15px;
    border: none;
    padding-bottom: 20px;
    border-radius: 10px 0px 0px 10px;
    font-size: 20px;
    cursor: pointer;
}

#btn a {
    text-decoration: none;
    color: white;
}

>>>>>>> 37ea42bbb463fd5236aca0061bff99781fdc9d7c
.firstsection {
    display: flex;
    justify-content: space-around;
    margin: 10px 90px -20%;
    align-items: center;
    box-sizing: border-box;
}

.firstsection>div {
    width: 50%;
}

<<<<<<< HEAD
.rightsection{
    width: 80%;
    margin-bottom: 28%;
    margin-top: 10px;
=======
.rightsection {
    width: 80%;
    margin-bottom: 28%;
    margin-top: 10px;
    padding-left: 18px;
>>>>>>> 37ea42bbb463fd5236aca0061bff99781fdc9d7c

}

.leftsection {
    font-size: 2.5rem;
<<<<<<< HEAD
    margin-bottom: 30% ;
}
.rightsection h2{
=======
    margin-bottom: 30%;
}

.rightsection h2 {
>>>>>>> 37ea42bbb463fd5236aca0061bff99781fdc9d7c
    font-size: 3rem;
    color: black;
    display: block;
    margin-top: -20%;
}
<<<<<<< HEAD
p{
    font-size: 20px;
}
.button-sec{
    display: inline-flex;
}
.leftbutton1{
    width: 50%;
    float: left;
    margin-right:15px;

}
.rightbutton1{
    width: 50%;
    float: right;
}
.firstbutton{
=======

p {
    font-size: 16px;
}

.button-sec {
    display: inline-flex;
}

.leftbutton1 {
    width: 50%;
    float: left;
    margin-right: 15px;

}

.rightbutton1 {
    width: 50%;
    float: right;
}

.firstbutton {
>>>>>>> 37ea42bbb463fd5236aca0061bff99781fdc9d7c
    width: 250px;
    border-radius: 15px;
    height: 35px;
    background-color: white;
    border-width: thin;
    display: flex;
    align-items: center
}

<<<<<<< HEAD
.button-icon-left{
    padding: 0 6px 0 10px;    
    }
    .button-icon-left svg{
        width: 18px;    
    }
    .button-icon-right1{
        padding: 0 6px 0 0px;    
    }
    .button-icon-right1 svg{
        width: 18px;
        }
    .secondbutton{
        width: 205px;
        border-radius: 15px;
        height: 35px;
        background-color: white;
        border-width: thin;
        display: flex;
        margin: 0 0 0 10px;
        align-items: center;
        justify-content: center;
        }
    .button-text{
        font-size: 16px;
       
    }
    /* second buttons sections */

    .leftbutton2{
        width: 40%;
        float: left;
        margin-right:15px;
    
    }
    .rightbutton2{
        width: 50%;
        float: right;}
        .thirdbutton{
            width: 160px;
            border-radius: 15px;
            height: 35px;
            background-color: white;
            margin-top: 10px;
            border-width: thin;
            display: flex;
            align-items: center
        }
        .fourthbutton{
            width: 250px;
            border-radius: 15px;
            height: 35px;
            background-color: white;
            margin-top: 7px;
            border-width: thin;
            display: flex;
            align-items: center;
            margin-left: -33%;
            justify-content: center;
        }
            .buttonsec3{
                width: 50%;
            }
            .fifthbutton{
                width: 250px;
                border-radius: 15px;
                height: 35px;
                background-color: white;
                border-width: thin;
                display: flex;
                align-items: center
            }
.secondsection{
    
display: flex;
margin: 10px 90px 2%;

}
.secondsection div{
=======
.button-icon-left {
    padding: 0 6px 0 10px;
}

.button-icon-left svg {
    width: 18px;
}

.button-icon-right1 {
    padding: 0 6px 0 0px;
}

.button-icon-right1 svg {
    width: 18px;
}

.secondbutton {
    width: 205px;
    border-radius: 15px;
    height: 35px;
    background-color: white;
    border-width: thin;
    display: flex;
    margin: 0 0 0 10px;
    align-items: center;
    justify-content: center;
}

.button-text {
    font-size: 16px;

}

/* second buttons sections */

.leftbutton2 {
    width: 40%;
    float: left;
    margin-right: 15px;

}

.rightbutton2 {
    width: 50%;
    float: right;
}

.thirdbutton {
    width: 160px;
    border-radius: 15px;
    height: 35px;
    background-color: white;
    margin-top: 10px;
    border-width: thin;
    display: flex;
    align-items: center
}

.fourthbutton {
    width: 250px;
    border-radius: 15px;
    height: 35px;
    background-color: white;
    margin-top: 7px;
    border-width: thin;
    display: flex;
    align-items: center;
    margin-left: -33%;
    justify-content: center;
}

.buttonsec3 {
    width: 50%;
}

.fifthbutton {
    width: 250px;
    border-radius: 15px;
    height: 35px;
    background-color: white;
    border-width: thin;
    display: flex;
    align-items: center
}

.secondsection {

    display: flex;
    margin: 10px 90px 2%;

}

.secondsection div {
>>>>>>> 37ea42bbb463fd5236aca0061bff99781fdc9d7c
    align-items: center;
    margin: 20px;
    width: 100%;
}
<<<<<<< HEAD
.secondsection .sec2-left{
    width: 75%
}
.midimg{
=======

.secondsection .sec2-left {
    width: 75%
}

.midimg {
>>>>>>> 37ea42bbb463fd5236aca0061bff99781fdc9d7c
    width: 50px;
    display: flex;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
}
<<<<<<< HEAD
.thirdsection{
=======

.thirdsection {
>>>>>>> 37ea42bbb463fd5236aca0061bff99781fdc9d7c
    width: 100%;
    display: flex;
    padding-top: 35px;
    align-content: center;
    justify-content: center;

}
<<<<<<< HEAD
.thirdsection div{
    align-items: center;    
    margin: 22px 9px 50px 0px
  
}
.bluepanel-title{
=======

.thirdsection div {
    align-items: center;
    margin: 22px 9px 50px 0px
}

.bluepanel-title {
>>>>>>> 37ea42bbb463fd5236aca0061bff99781fdc9d7c
    color: #FFFFFF;
    font-size: 42px;
    font-weight: 700;
    line-height: 53px;
}
<<<<<<< HEAD
.title-h3{
    margin-top: 22px;
}
.midimg2{
=======

.title-h3 {
    margin-top: 22px;
}

.midimg2 {
>>>>>>> 37ea42bbb463fd5236aca0061bff99781fdc9d7c
    width: 25px;
    display: flex;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
}
<<<<<<< HEAD
.sec3-title-h3{
    color: #FFFFFF;
}
=======

.sec3-title-h3 {
    color: #FFFFFF;
}

/* section 4 and section 5 css starts from here */

.main1 {
    width: 100%
}

.sec4right {
    width: 500px;
    height: 500px;
    float: left;
    justify-content: center;
    display: flex;

}

.sec4left {
    display: flex;
    flex-direction: column;
    height: 500px;
    float: right;
    margin: 20px;
}



form {
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 500px;
    margin: 29px;
}

footer {
    top: 10;
    bottom: 0;
    left: 0;
}

input {
    width: 81%;
    height: 45px;
}

.foot {
    height: 10px;
    width: 100%;
}

.section4 {
    display: flex;
    justify-content: space-around;
    margin: 10px 90px -20%;
    align-items: center;
    box-sizing: border-box;
}

.section4 div {
    width: 50%;
}

.sec4-request-button {
    width: 40%;
    display: block;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    padding: 16px 32px;
    margin: 0;
    background-color: #2B7DDD;
    color: #fff;
    border-radius: 10px;
    transition: all .3s ease-in-out;
    border: 0;

}

/* section 4 and section 5 css ends here!!! */

/* section 6 css section / footer section /icons and social media links */


.company-contact{
    padding: 15px 5px 16px;
}
.sec6{
    padding: 10px 7rem;
}
.left-widget-container{
    display: flex;
    flex-direction: column;
    align-items: start;
}

.social-list-inline a{
    padding: 15px;

}
/* section 6 css section / footer section /icons and social media links */

>>>>>>> 37ea42bbb463fd5236aca0061bff99781fdc9d7c
