* {
    margin: 0;
    padding: 0;
    font-family: Inter, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", Segoe UI Symbol, "Noto Color Emoji";
}
body{
    /* background-color: black; */
}
/* navigation start */

.menu {
    position: fixed;
    top: 0;
    width: 100%;

    background-color: rgb(35, 35, 110);
    color: white;
    display: flex;
    justify-content: space-around;
    padding: 0 1.6rem;
    padding-top: 2rem;
    height: 70px;

}

.menu-ulist {
    display: flex;
}

.menu-list {
    list-style: none;
    padding: 0 0.5rem;
    text-transform: uppercase;
}

.menu-list:hover {
    
    color: red;

}

.menu-heading {
    margin-right: 150px;
    text-transform: uppercase;
}

.menu-btn {
    border: 2px solid white;
    padding: 10px 10px;
    font-size: 16px;
    cursor: pointer;
    background-color: rgb(35, 35, 110);
    color: white;


}

.menu-btn:hover {
    background-color: white;
    color: rgb(35, 35, 110);
}
/* navigation ends */

/* main section start */
.main {
    background-image: url("https://media.istockphoto.com/id/1396069049/vector/abstract-geometric-background-with-triangle-shape-pattern.jpg?s=612x612&w=0&k=20&c=8D-F3tXFiBumD_l236mwTeZHrqWy0HBNOrQn49LTWbY=");
    background-size: cover;
    background-position: center;
    height: 550px;
    text-align: center;
    padding-top: 90px;
}

.main-heading {
    color: white;
    text-align: center;
    font-size: 90px;
}

.main-btn {
    margin-top: 50px;
    padding: 10px 35px;
    font-size: 20px;
    color: rgb(35, 35, 110);
    cursor: pointer;

}

.main-btn:hover {
    color: white;
    background-color: rgb(35, 35, 110);
    border: 2px solid white;
}
/* main section end */


/* about section start */
.about {
    background-color: black;
    color: white;
    display: flex;
    padding-top: 80px;
}

.about-img {
    width: 50%;
}

.about-content {
    width: 50%;
}

.about-content-h3 {
    color: rgb(35, 35, 110);
    font-size: 22px;
    font: 100;
    padding-top: 140px;

}

.about-content-h1 {
    font-size: 40px;
    padding-top: 30px;

}

.about-content-para {
    padding-top: 30px;
    font-size: 20px;
    padding-right: 20px;
}
/* about section ends */

/* contact section start */
.contact{
    background-color: black;
    color: white;
    
    padding: 90px 2rem;
    display: flex;
    align-items: center;
}
/* 1)content contact start */
.contact-content{
    width: 50%;
    margin-bottom: 30px;
    padding: 4rem 8rem;
}
.form-para1{
    color: rgb(35, 35, 110);
    font-size: 22px;
    font: 100;
    padding-top: 130px;

}
.contact-h1{
    font-size: 40px;
    padding-top: 30px;

}
.form-para2{
    padding-top: 30px;
    font-size: 20px;
    padding-right: 20px;
}
.form-para3{
    padding-top: 30px;
    font-size: 20px;
    padding-right: 20px;
}
.form-para3 a{
    text-decoration: none;
    color: white;
}
.form-para3 img{
    background-color: black;
}
.form-para3 a:hover{
    color: rgb(35, 35, 110);
}
/* 1)content contact end */

/* 2)contact-form start */
.contact-form{
    margin-left: 50px;
    padding: 4rem 8rem;
    margin-top: 80px;
    

}
.contact-form input{
    height: 40px;
    width: 30rem;
    margin: 9px 0;
    font-size: 20px;
    border: none;
   
    
    
}
.contact-form textarea{
    height: 60px;
    width: 30rem;
    margin: 9px 0;
    font-size: 20px;
    border: none;
}

.contact-form button{
    height: 40px;
    width: 30rem;
    margin: 19px 0;
    font-size: 20px;
    border: none;
}
.contact-form button:hover{
    background-color: black;
    color: white;
    border: 1px solid white;
}


/* 2)contact-form end */

/* contact ends */

/* sourceCode start */
.sourceCode{
    background-color: black;
    color: white;
    padding: 0px 2rem;
    text-align: center;
    line-height: 1.8;

}
.sourceCode-p1{
    color: rgb(35, 35, 110);
    font-size: 22px;
    font: 100;
    padding-top: 130px;

}
.sourceCode-h1{
    font-size: 40px;
    padding-top: 15px;
}
.souuceCode.p2{

}

/* sourceCode end */
